<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <link rel="stylesheet" href="./Css/./index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>論壇</title>
</head>

<body>
    <h1>論壇聊天室</h1>
    <p>名稱</p>
    <input type="text" id="title" value="小明" />
    <p>內容</p>
    <textarea id="content" rows="8">感謝大大分享</textarea>
    <br/>
    <button id="btn">發布</button>
    <br/>
    <div class="left" id="list">
    </div>
    <script src="./js/./script.js"></script>
</body>

</html>