<!DOCTYPE html>

<html>

<head>
    <!-- 引入某個css , scss -->
    <link rel="stylesheet" href="./exercise/Css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- 告訴伺服器這是UTF-8 -->
    <meta charset="UTF-8" />
    <!-- 讓每個窗口都可以自動調放大小 -->
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <!-- 網頁的說明 -->
    <meta name="description" content="#" />
    <!-- 創作者是誰 -->
    <meta name="author" content="#" />
    <!-- 關鍵詞搜尋 -->
    <meta mame="keywords" content="#" />

    <title>首頁</title>
</head>

<body>
    <div class="index">
        <a href="./exercise/1_Bootstrap.html">1. Bootstrap</a>
        <br/>
        <a href="./exercise/2_Css.html">2. Css</a>
        <br/>
        <a href="./exercise/3_JavaScript.html">3. JavaScript</a>
    </div>
</body>

</html>